#topic
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Name
        %th Class
        %th Description
    %tbody
      %tr
        %td Default
        %td None
        %td No styles, just columns and rows
      %tr
        %td Default
        %td None
        %td Rounds corners and adds outer border
      %tr
        %td Default
        %td None
        %td No styles, just columns and rows
      %tr
        %td Default
        %td None
        %td No styles, just columns and rows

  .pagination
    %ul
      %li
        %a{:href => "#"} Prev
      %li.active
        %a{:href => "#"} 1
      %li
        %a{:href => "#"} 2
      %li
        %a{:href => "#"} 3
      %li
        %a{:href => "#"} 4
      %li
        %a{:href => "#"} Next